body {
    color: white;
    background-color: black;
    font-family: 'Oxygen', sans-serif;
    background-image: url();
}

h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    color: white;
    animation-name: title;
    animation-iteration-count: 1;
}

#question {
    text-align: center;
    width: 70%;
    display: flex;
    color: white;
    margin: 10px auto;
    font-family: 'Bangers', cursive;
    font-size: 2em;
    justify-content: center;
}

.img {
    width: 70%;
    height: 400px;
    display: flex;
    color: white;
    margin: 10px auto;
    border: red solid;
}

#scores {
    display: inline-flex;
    font-family: 'Bangers', cursive;
    justify-content: space-around;
    width: 100%;
}

#p2 {
    align-items: flex-end;
    text-align: right;
}

#answer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#answer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;   
    width: 70%;
}

#answer ul li {
    width: 30%;
    height: 20px;
    padding: 20px;
    text-align: center;
    background-color: #3333;
    border-radius: 5px;
    margin: 5px 5px;
    border: black;
    transition: box-shadow .4s ease-out
}

#reset {
    height: 20px;
    width: 50px;
    background-color: #4444;
    border: rgba(0, 0, 0, 0.067) solid;
    border-radius: 7px;
    display: flex;
    margin: 0px 49.5%;
    font-family: 'Bangers', cursive;
    text-align: center;
}

li:hover {
    box-shadow: inset 400px 0 0 0 #9999;
    transform: translate(5px);
}

@keyframes title {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}