#gameBody{
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(49, 49, 49);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='2'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, #ff0000 0%, rgb(255, 197, 5) 100%);
}

body {
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(49, 49, 49);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='2'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, #dddddd 0%, rgb(87, 87, 87) 100%);
}

h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    color: white;
    animation-name: title;
    animation-iteration-count: 1;
    text-shadow: 4px 4px #000000;
    margin-top: 30px;
}

#question {
    text-align: center;
    width: 70%;
    display: flex;
    color: rgb(255, 255, 255);
    margin: 10px auto;
    font-family: 'Bangers', cursive;
    font-size: 2em;
    justify-content: center;
    margin-top: 40px;
    text-shadow: 4px 4px #000000;
}

.img {
    width: 70%;
    height: 500px;
    display: flex;
    color: rgb(255, 255, 255);
    margin: 10px auto;
    border: black solid;
    transition: ease height .5s;
}

#scores {
    display: inline-flex;
    font-family: 'Bangers', cursive;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 7px;
}

#p1 {
    text-shadow: 2px 2px #000000;
}

#p2 {
    align-items: flex-end;
    text-align: right;
    text-shadow: 2px 2px #000000;
}

#answer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#answer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;   
    width: 70%;
    color: rgb(0, 0, 0);
    margin: 0px -16px;
}

#answer ul li {
    width: 30%;
    height: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px 5px;
    border: black;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

#reset {
    height: 20px;
    width: 50px;
    border: rgba(0, 0, 0, 0.067) solid;
    border-radius: 7px;
    display: flex;
    margin: 0px 49.5%;
    font-family: 'Bangers', cursive;
    text-align: center;
    box-shadow: 5px 5px 0px rgb(82, 82, 82);
}

#reset:hover {
    background-color: rgba(0, 0, 0, 0.267);
}

li:hover {
    transition: ease-out .5s;
    transform: scale(1.05);
}

/* 
li:hover {
    box-shadow: inset 430px 0 0 0 #9999;
    transform: translate(5px);
    transform: scale(1.1)
} */

.img {
    background-image: url("https://www.fantasybookreview.co.uk/blog/wp-content/uploads/2020/06/superheroes.jpg");
    background-position: top;
    background-size: cover;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    
}


#turn {
    display: flex;
    justify-content: center;
    font-family: 'Bangers', cursive;
    font-size: 24px;
    margin: 10px;
    text-shadow: 2px 2px #000000;
}

#homeScreen {
    width: 70%;
    margin: 10em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#welcome {
    font-size: 4em;
    margin: 10px auto;
}

#info {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    text-shadow: 2px 2px #ffffff;
    text-align: center;
    color: black;
}

#banger {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    text-shadow: 2px 2px #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
}

#play{
    text-align: center;
    height: 30px;
    width: 50px;
    display: inline-flex;
    margin: 10px auto;
    padding: 2px;
    border: black solid 2px;
    border-radius: 5px;
    box-shadow: 4px 4px 0px black;
    font-family: 'Bangers', cursive;
    font-size: 15px;
    color: black;
    align-items: center;
    background-color: white;
    text-decoration: none;
}

/* #homeButton {
    display: flex;
} */

#home{
    border: rgba(0, 0, 0, 0.067) solid 2px;
    border-radius: 7px;
    display: inline-flex;
    margin: 5px auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: white;
}

.modal1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 10px;
    z-index: 10;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
}

.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 10px;
    z-index: 10;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
}

#playAgain {
    margin: 0 auto;
}

#overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.victory{
    font-size: 5em;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .img {
        height: 200px;
        transition: ease height .2s;
    }
    h1 {
        font-size: 24px;
        transition: ease font-size .4s;
    }
    #question {
        font-size: 24px;
        transition: ease font-size .4s;
    }
    li {
        font-size: 12px;
        transition: ease font-size .4s;
    }
    #answer ul li {
        padding: 10px;
}

@media only screen and (max-width:320px) { 
    h1 {
        font-size: 1em;
        margin-top: 10px;
    }

    #turn {
        font-size: 15px;
    }

    #scores {
        height: 40px;
        display: inline-flex;
    }

    h3 {
        font-size: 12px;
        margin-top: 8px;
    }

    h4 {
        font-size: 12px;
        margin-top: -10px;
    }

    .img {
        height: 200px;
        width: 90%;
    }

    #question {
        font-size: 1em;
        text-shadow: 1px 1px black;
        margin: 20px auto;
    }

    #answer {
        font-size: 10px;
        padding: 0px 0px;
    }
    ul{
        margin: 0px 0px;
        padding: 0px 0px;
    } 

    #answer ul li {
        padding: 10px;
    }

    #reset {
        margin: 30px auto;
        height: 15px;
        font-size: 10px;
        text-align: center;
        justify-content: center;
        width: 25px;
        transition: ease height .5s;

    }
}}